.header {
  /* margin-top: 60px; */
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: #f1f1f1;
}

.headerTitleSmall {
  position: absolute;
  top: 40%;
  font-size: 60px;
}

.headerTitleLarge {
  position: absolute;
  top: 50%;
  font-size: 140px;
}

.headerImg {
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 10px;
  object-fit: cover;
}
